* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    min-height: 100px;
    align-items: center;
    background: rgb(226, 203, 203);
  }
  .input-box {
    position: relative;
    height: 70px;
    width: 50%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
  }
  .i {
    right: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0px 155px 0px 65px;
    background-color: transparent;
  }
  .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
